body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体" !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block
}

html {
    box-sizing: border-box
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body,
button,
hr,
img {
    margin: 0;
    border: 0
}

button {
    background: 0 0;
    color: inherit;
    font: inherit;
    padding: 0;
    width: auto;
    text-align: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    border-radius: 0
}

button:focus {
    font-weight: bold;
    outline: none
}

button:disabled {
    cursor: default
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

svg {
    display: inline-block
}

img {
    max-width: 100%;
    vertical-align: top
}

video {
    width: 100%;
    height: auto
}

q::after,
q::before {
    content: ''
}

legend,
pre {
    display: block
}

pre {
    white-space: pre-wrap;
    -moz-tab-size: 2;
    tab-size: 2
}

legend {
    width: 100%
}

body,
input,
textarea,
select {
    color: #1f3349;
    font-size: 12px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
}

select,
input[type=checkbox],
input[type=radio] {
    cursor: pointer
}

input[type=checkbox] {
    height: 16px;
    width: 16px
}

.font-100 {
    font-size: 100%
}

.font10 {
    font-size: 10px;
}

.font12 {
    font-size: 12px;
}

.font-12 {
    font-size: 12px;
}

.font14 {
    font-size: 14px;
}

.font16 {
    font-size: 16px;
}

.line-h100 {
    line-height: 100%
}

.txt-bold {
    font-weight: 700 !important
}

.txt-light {
    font-weight: lighter !important
}

.txt-normal {
    font-weight: 400 !important
}

.txt-em {
    font-style: italic !important
}

.txt-underline,
.txt-underline-on-hover:hover {
    text-decoration: underline !important
}

.txt-nowrap {
    white-space: nowrap !important
}

.txt-break-word {
    word-break: break-all !important
}

.txt-truncate {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.align-l {
    text-align: left !important
}

.align-r {
    text-align: right !important
}

.align-center {
    text-align: center !important
}

.align-t {
    vertical-align: top !important
}

.align-b {
    vertical-align: bottom !important
}

.align-middle {
    vertical-align: middle !important
}

.table-fixed {
    table-layout: fixed
}

input:disabled {
    pointer-events: none
}

.border-box {
    box-sizing: border-box !important
}

.r2 {
    border-radius: 2px !important
}

.r5 {
    border-radius: 5px !important
}

.r8 {
    border-radius: 8px !important
}

.r-half {
    border-radius: 50% !important
}

.cursor-default {
    cursor: default !important
}

.cursor-pointer {
    cursor: pointer !important
}

.cursor-crosshair {
    cursor: crosshair !important
}

.cursor-move {
    cursor: move !important
}

.cursor-notallowed {
    cursor: not-allowed !important
}

.inline {
    display: inline !important
}

.block,
.clearfix::after {
    display: block !important
}

.inline-block {
    display: inline-block !important
}

.fixed {
    position: fixed !important
}

.absolute {
    position: absolute !important
}

.relative {
    position: relative !important
}

.static {
    position: static !important
}

.top {
    top: 0 !important
}

.right {
    right: 0 !important
}

.left {
    left: 0 !important
}

.bottom {
    bottom: 0 !important
}

.z0 {
    z-index: 0 !important
}

.z1 {
    z-index: 1 !important
}

.z2 {
    z-index: 2 !important
}

.z3 {
    z-index: 3 !important
}

.z4 {
    z-index: 4 !important
}

.z5 {
    z-index: 5 !important
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important
}

.flex {
    display: -webkit-flex !important;
    display: flex !important
}

.flex-inline {
    display: -webkit-inline-flex !important;
    display: inline-flex !important
}

.flex-column {
    -webkit-flex-direction: column !important;
    flex-direction: column !important
}

.flex-column-reverse {
    -webkit-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important
}

.flex-row {
    -webkit-flex-direction: row !important;
    flex-direction: row !important
}

.flex-row-reverse {
    -webkit-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important
}

.flex-align-center {
    -webkit-align-items: center !important;
    align-items: center !important
}

.flex-align-start {
    -webkit-align-items: flex-start !important;
    align-items: flex-start !important
}

.flex-align-end {
    -webkit-align-items: flex-end !important;
    align-items: flex-end !important
}

.flex-justify-start {
    -webkit-justify-content: flex-start !important;
    justify-content: flex-start !important
}

.flex-justify-end {
    -webkit-justify-content: flex-end !important;
    justify-content: flex-end !important
}

.flex-justify-center {
    -webkit-justify-content: center !important;
    justify-content: center !important;
}

.flex-wrap {
    -webkit-flex-wrap: wrap !important;
    flex-wrap: wrap !important
}

.flex-align-stretch {
    -webkit-align-items: stretch !important;
    align-items: stretch !important
}

.flex-justify-between {
    -webkit-justify-content: space-between !important;
    justify-content: space-between !important
}

.flex-justify-around {
    -webkit-justify-content: space-around !important;
    justify-content: space-around !important
}

.flex-child {
    display: block;
    max-width: 100%
}

.flex-grow {
    -webkit-flex-grow: 1 !important;
    flex-grow: 1 !important
}

.flex-no-shrink {
    -webkit-flex-shrink: 0 !important;
    flex-shrink: 0 !important
}

.grid {
    display: grid !important;
}

.float-none {
    float: none !important
}

.clearfix::after {
    content: '' !important;
    clear: both !important
}

.my0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.my2 {
    margin-top: 2px !important;
    margin-bottom: 2px !important
}

.my4 {
    margin-top: 4px !important;
    margin-bottom: 4px !important
}

.my6 {
    margin-top: 6px !important;
    margin-bottom: 6px !important
}

.my8 {
    margin-top: 8px !important;
    margin-bottom: 8px !important
}

.mx0 {
    margin-left: 0 !important;
    margin-right: 0 !important
}

.mx2 {
    margin-left: 2px !important;
    margin-right: 2px !important
}

.mx4 {
    margin-left: 4px !important;
    margin-right: 4px !important
}

.mx6 {
    margin-left: 6px !important;
    margin-right: 6px !important
}

.mx8 {
    margin-left: 8px !important;
    margin-right: 8px !important
}

.mt-auto {
    margin-top: auto !important
}

.mt0 {
    margin-top: 0 !important
}

.mt2 {
    margin-top: 2px !important
}

.mt4 {
    margin-top: 4px !important
}

.mt6 {
    margin-top: 6px !important
}

.mt8 {
    margin-top: 8px !important
}

.mr-auto {
    margin-right: auto !important
}

.mr0 {
    margin-right: 0 !important
}

.mr2 {
    margin-right: 2px !important
}

.mr4 {
    margin-right: 4px !important
}

.mr6 {
    margin-right: 6px !important
}

.mr8 {
    margin-right: 8px !important
}

.mb-auto {
    margin-bottom: auto !important
}

.mb0 {
    margin-bottom: 0 !important
}

.mb2 {
    margin-bottom: 2px !important
}

.mb4 {
    margin-bottom: 4px !important
}

.mb6 {
    margin-bottom: 6px !important
}

.mb8 {
    margin-bottom: 8px !important
}

.ml-auto {
    margin-left: auto !important
}

.ml0 {
    margin-left: 0 !important
}

.ml2 {
    margin-left: 2px !important
}

.ml4 {
    margin-left: 4px !important
}

.ml6 {
    margin-left: 6px !important
}

.ml8 {
    margin-left: 8px !important
}

.mxy5 {
    margin: 5px !important
}

.mxy10 {
    margin: 10px !important
}

.py0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.py2 {
    padding-top: 2px !important;
    padding-bottom: 2px !important
}

.py4 {
    padding-top: 4px !important;
    padding-bottom: 4px !important
}

.py6 {
    padding-top: 6px !important;
    padding-bottom: 6px !important
}

.py8 {
    padding-top: 8px !important;
    padding-bottom: 8px !important
}

.px0 {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.px2 {
    padding-left: 2px !important;
    padding-right: 2px !important
}

.px4 {
    padding-left: 4px !important;
    padding-right: 4px !important
}

.px6 {
    padding-left: 6px !important;
    padding-right: 6px !important
}

.px8 {
    padding-left: 8px !important;
    padding-right: 8px !important
}

.pt0 {
    padding-top: 0 !important
}

.pt2 {
    padding-top: 2px !important
}

.pt4 {
    padding-top: 4px !important
}

.pt6 {
    padding-top: 6px !important
}

.pt8 {
    padding-top: 8px !important
}

.pr0 {
    padding-right: 0 !important
}

.pr2 {
    padding-right: 2px !important
}

.pr4 {
    padding-right: 4px !important
}

.pr6 {
    padding-right: 6px !important
}

.pr8 {
    padding-right: 8px !important
}

.pb0 {
    padding-bottom: 0 !important
}

.pb2 {
    padding-bottom: 2px !important
}

.pb4 {
    padding-bottom: 4px !important
}

.pb6 {
    padding-bottom: 6px !important
}

.pb8 {
    padding-bottom: 8px !important
}

.pl0 {
    padding-left: 0 !important
}

.pl2 {
    padding-left: 2px !important
}

.pl4 {
    padding-left: 4px !important
}

.pl6 {
    padding-left: 6px !important
}

.pl8 {
    padding-left: 8px !important
}

.pxy5 {
    padding: 5px !important
}

.pxy10 {
    padding: 10px !important
}

.w0 {
    width: 0 !important
}

.w6 {
    width: 6px !important
}

.w8 {
    width: 8px !important
}

.w12 {
    width: 12px !important
}

.w16 {
    width: 16px !important
}

.w18 {
    width: 18px !important
}

.w20 {
    width: 20px !important
}

.w24 {
    width: 24px !important
}

.w28 {
    width: 28px !important
}

.w32 {
    width: 32px !important
}

.w48 {
    width: 48px !important
}

.w64 {
    width: 64px !important
}

.w72 {
    width: 72px !important
}

.w-full {
    width: 100% !important
}

.w-half {
    width: 50% !important
}

.w-fit {
    width: fit-content !important
}

.w-fill {
    width: fill-available !important;
    width: -webkit-fill-available !important;
}

.w-max {
    width: max-content !important
}

.w-min {
    width: min-content !important
}

.w-auto {
    width: auto !important
}

.wmax-full {
    max-width: 100% !important
}

.h0 {
    height: 0 !important
}

.h6 {
    height: 6px !important
}

.h8 {
    height: 8px !important
}

.h12 {
    height: 12px !important
}

.h16 {
    height: 16px !important
}

.h18 {
    height: 18px !important
}

.h20 {
    height: 20px !important
}

.h24 {
    height: 24px !important
}

.h28 {
    height: 28px !important
}

.h32 {
    height: 32px !important
}

.h48 {
    height: 48px !important
}

.h64 {
    height: 64px !important
}

.h72 {
    height: 72px !important
}

.h-full {
    height: 100% !important
}

.h-half {
    height: 50% !important
}

.h-fit {
    height: fit-content !important
}

.h-fill {
    height: fill-available !important;
    height: -webkit-fill-available !important;
}

.h-max {
    height: max-content !important
}

.h-min {
    height: min-content !important
}

.h-auto {
    height: auto !important
}

.events-none {
    -webkit-touch-callout: none;
    pointer-events: none
}

.events-all {
    -webkit-touch-callout: default;
    pointer-events: all
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
}

.transition {
    transition: all .125s
}

.transition-none {
    transition: auto
}

.scroll-always {
    overflow: scroll !important
}

.scroll-auto {
    overflow: auto !important;
    -webkit-overflow-scrolling: touch
}

.scroll-hidden {
    overflow: hidden !important
}

.bg-transparent {
    background-color: transparent !important
}

.bg-fff {
    background-color: #fff !important
}

.bg-f2f5f7 {
    background-color: #f2f5f7 !important
}

.bg-blue {
    background-color: #467cd4 !important
}

.bg-4446 {
    background-color: rgba(64, 64, 64, 0.6) !important
}

.bg-ccc {
    background-color: #cccccc
}

.opa6 {
    opacity: 0.6
}

.opa4 {
    opacity: 0.4
}


.border-wt0 {
    border-top: 0 !important
}

.border-wr0 {
    border-right: 0 !important
}

.border-wb0 {
    border-bottom: 0 !important
}

.border-wl0 {
    border-left: 0 !important
}

.border-wx0 {
    border-left: 0 !important;
    border-right: 0 !important
}

.border-wy0 {
    border-top: 0 !important;
    border-bottom: 0 !important
}

.color-ccc {
    color: #cccccc !important
}

.color-fff {
    color: #ffffff !important
}

.color-grey {
    color: #8593A7
}

.shadow-darken25 {
    box-shadow: 0 0 10px 2px rgba(31, 51, 73, .25) !important
}

.txt-deco-none {
    text-decoration: none !important
}

.hide-scroll-bar::-webkit-scrollbar {
    width: 0 !important
}

.hide-scroll-bar {
    height: 0;
    scrollbar-width: none;
}

.thin-scroll-bar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #F8F8F8;
}

.thin-scroll-bar::-webkit-scrollbar-thumb {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #707070B0;
}

.menu_on>.menu_body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #F8F8F8;
}

.menu_on>.menu_body::-webkit-scrollbar-thumb {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #707070B0;
}

.menu_on>.menu_body {
    overflow-y: auto;
    max-height: 160px;
}

.firefox-compatible-for-scroll {
    height: 0
}

.highcharts-tooltip-box {
    stroke-width: 0 !important
}